<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">

    </header>

    <div class="p-5 m-4 rounded-3">
        <div class="container-fluid py-5">
            <h2 class="header-title display-5 text-center">Search Below to Add Books</h2>
        </div>
        <form class="d-flex" role="search">
            <input type="search" id="searchBox" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
            <button class="btn btn-sm btn-outline-secondary" type="submit" id='searchBtn'>
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
    {{!-- <h2>
        <div class="col-lg-6">
            <div class="input-group rounded">
                <input type="search" id="searchBox" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
            </div>
            <button id='searchBtn' class=" btn btn-primary mt-3">Search</button>
        </div>
    </h2> --}}

    <div class="col-md-6 results-container">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <h3 class="header-title">Search Results:</h3>
            <ul id="bookSearchResults">
                <button class="btn btn-outline-light addToCollectionBtn" type="button">Add To Collection!</button><li class="book-list" id="bookName1"></li>
                <button class="btn btn-outline-light addToCollectionBtn" type="button" >Add To Collection!</button><li class="book-list" id="bookName2"></li>
                <button class="btn btn-outline-light addToCollectionBtn" type="button" >Add To Collection!</button><li class="book-list" id="bookName3"></li>
                <button class="btn btn-outline-light addToCollectionBtn" type="button" >Add To Collection!</button><li class="book-list" id="bookName4"></li>
                <button class="btn btn-outline-light addToCollectionBtn" type="button" >Add To Collection!</button><li class="book-list" id="bookName5"></li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>