@import url(https://fonts.googleapis.com/css?family=Bodoni+Moda:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

body {
  background-image: url("../images/fanned-books.jpeg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
 }

 nav h1 {
  font-family: Bodoni Moda, serif;
  padding: 10px;
  padding-left: 20px;
}
